<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="http://localhost:3000/inicio">Inicio</a>
        <a class="navbar-brand" href="http://localhost:3000/register">Registrarse</a>
        <a class="navbar-brand" href="http://localhost:3000/login">Iniciar Sesión</a>
        <a class="navbar-brand" href="#">4</a>
        <a class="navbar-brand" href="#">5</a>
  </nav>

  